@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@600&family=Holtwood+One+SC&family=Noto+Sans:wght@400;700&display=swap');

$orange: #f18b31;
$light-orange: #F4AB2E;
$cream: #F9F0DA;
$dark-teal: #283D3B;
$light-teal: #197278;
$red: #e82929;
$white: #FFFF;

$header-font: 'Holtwood One SC';
$body-font: 'Baloo Tammudu 2';

%flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}