@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@600&family=Holtwood+One+SC&family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@600;700&family=Holtwood+One+SC&family=Noto+Sans:wght@400;700&display=swap");
.modal-overlay .modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

.root {
  background: linear-gradient(-36deg, #F9F0DA 50%, #f18b31 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  color: #283D3B;
  font-family: "Holtwood One SC";
  font-size: 5rem;
  text-shadow: #F9F0DA -5px 1px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.login-form label {
  font-family: "Baloo Tammudu 2";
  color: #283D3B;
  font-size: 2.5rem;
  line-height: 0.5;
  margin: 0;
}
.login-form input {
  border: solid #F4AB2E 3px;
  border-radius: 10px;
  background-color: white;
  height: 2rem;
  width: 25rem;
  padding: 0.5rem;
  font-family: "Baloo Tammudu 2";
  font-size: 1.5rem;
}
.login-form button {
  font-family: "Baloo Tammudu 2";
  font-size: 2rem;
  color: white;
  text-align: center;
  height: 3rem;
  width: 10rem;
  border-radius: 10px;
  border: none;
  background-color: #283D3B;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(5px);
  z-index: 1000;
}
.modal-overlay .modal {
  background-color: #283D3B;
  color: white;
  width: 40rem;
  height: 20rem;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.modal-overlay .modal h2 {
  font-family: "Holtwood One SC";
  font-size: 4rem;
}
.modal-overlay .modal p {
  font-family: "Baloo Tammudu 2";
  font-size: 3rem;
  text-align: center;
}
.modal-overlay .modal .close-btn {
  background-color: #197278;
  color: white;
  width: 8rem;
  height: 3rem;
  border-radius: 10px;
  border: none;
  font-family: "Baloo Tammudu 2";
  font-size: 2rem;
}

.background {
  background-color: white;
  width: 98vw;
  height: 98vh;
  border-radius: 10px;
}
.background .orders {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.8fr 0.8fr;
  grid-template-rows: 5rem 5rem 13.4rem 13.4rem 13.4rem;
  row-gap: 1rem;
  grid-template-areas: "header header header client client" "breakfast lunch 0 order order" "product product product order order" "product product product order order";
}
.background .orders h2 {
  grid-area: header;
  font-family: "Holtwood One SC";
  color: #283D3B;
  font-size: 3rem;
}
.background .orders .breakfast {
  grid-area: breakfast;
  width: 12rem;
  height: 4rem;
  margin: 0 1rem;
  border: none;
  border-radius: 10px;
  background-color: #283D3B;
  font-family: "Baloo Tammudu 2";
  font-size: 1.8rem;
  text-align: center;
  color: white;
}
.background .orders .breakfast:hover {
  background-color: #197278;
}
.background .orders .lunch {
  grid-area: lunch;
  width: 12rem;
  height: 4rem;
  margin: 0 1rem;
  border: none;
  border-radius: 10px;
  background-color: #283D3B;
  font-family: "Baloo Tammudu 2";
  font-size: 1.8rem;
  text-align: center;
  color: white;
}
.background .orders .lunch:hover {
  background-color: #197278;
}
.background .orders .products {
  grid-area: product;
  width: 100%;
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 1rem;
}

.card {
  width: 15rem;
  height: 18rem;
  background-color: #F9F0DA;
  font-family: "Baloo Tammudu 2";
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card img {
  width: 14rem;
  height: 8rem;
  margin-top: 1rem;
  border-radius: 10px;
}
.card .text {
  margin-top: 1rem;
}
.card .text p {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 8rem;
  margin: 0;
}
.counter .counter-button {
  width: 2.7rem;
  height: 2.7rem;
  border: none;
  border-radius: 3px;
  background-color: #283D3B;
  font-family: "Baloo Tammudu 2";
  color: white;
  font-size: 1.5rem;
  line-height: 1rem;
}
.counter .counter-button:hover {
  background-color: #197278;
}
.counter p {
  font-size: 1.5rem;
  line-height: 0;
}

.order-container {
  grid-area: client;
}
.order-container .client h3 {
  font-family: "Baloo Tammudu 2";
  font-size: 3rem;
  line-height: 1.2;
  color: #283D3B;
}
.order-container .client .name-input {
  display: flex;
  background-color: #283D3B;
  width: 100%;
  border: none;
  border-radius: 10px;
}
.order-container .client input {
  display: flex;
  align-items: flex-end;
  padding: 0.5rem;
  width: 70%;
  height: 4.5rem;
  border: none;
  border-radius: 10px;
  background-color: #283D3B;
  color: white;
  font-family: "Baloo Tammudu 2";
  font-size: 2rem;
  line-height: 0.5;
}
.order-container .client .order-num {
  background-color: #283D3B;
  width: 30%;
  height: 4.5rem;
  border: none;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: flex-end;
  font-size: 2rem;
}
.order-container .order {
  background-color: #197278;
  color: white;
  font-family: "Baloo Tammudu 2";
  font-weight: 700;
  margin-top: 1rem;
  border-radius: 10px;
  height: 73vh;
  padding: 1rem;
}
.order-container .order h3 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
}
.order-container .order .order-products {
  height: 80%;
}
.order-container .order .send-to-kitchen {
  width: 15rem;
  height: 4rem;
  margin: 0 1rem;
  border: none;
  border-radius: 10px;
  font-family: "Baloo Tammudu 2";
  font-size: 1.8rem;
  text-align: center;
  color: white;
  background-color: #f18b31;
  float: right;
}
.order-container .order .send-to-kitchen:hover {
  background-color: #F4AB2E;
}
.order-container .order .order-ready {
  width: 15rem;
  background-color: #f18b31;
  float: right;
}
.order-container .order .order-ready:hover {
  background-color: #F4AB2E;
}

/*# sourceMappingURL=build.css.map */
