.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(5px);
  z-index: 1000;

  .modal {
    background-color: $dark-teal;
    color: $white;
    width: 40rem;
    height: 20rem;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  
    @extend %flex-center;
  
    h2 {
      font-family: $header-font;
      font-size: 4rem;
    }
  
    p {
      font-family: $body-font;
      font-size: 3rem;
      text-align: center;
    }
  
    .close-btn {
      background-color: $light-teal;
      color: $white;
      width: 8rem;
      height: 3rem;
      border-radius: 10px;
      border: none;
      font-family: $body-font;
      font-size: 2rem;
    }
  }
}