.order-card {
  width: 15rem;
  height: 18rem;
  background-color: $cream;
  font-family: $body-font;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 1.3rem;
    line-height: 1;
  }

  .client {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 0.5rem;
  }

  hr {
    height: 2.5px;
    width: 90%;
    background-color: $dark-teal;
    border: none;
  }

  .products-list {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 0.5rem;
  }
}