.background {
  background-color: $white;
  width: 98vw;
  height: 98vh;
  border-radius: 10px;

  .orders {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .8fr .8fr;
    grid-template-rows: 5rem 5rem 13.4rem 13.4rem 13.4rem;
    row-gap: 1rem;

    grid-template-areas:
      'header header header client client'
      'button1 button2 0 order order'
      'product product product order order'
      'product product product order order';

    h2 {
      grid-area: header;
      font-family: $header-font;
      color: $dark-teal;
      font-size: 3rem;
    }

    .button1 {
      grid-area: button1;
      width: 12rem;
      height: 4rem;
      margin: 0 1rem;
      border: none;
      border-radius: 10px;
      background-color: $dark-teal;
      font-family: $body-font;
      font-size: 1.8rem;
      text-align: center;
      color: $white;

      &:hover {
        background-color: $light-teal;
      }
    }

    .button2 {
      grid-area: button2;
      width: 12rem;
      height: 4rem;
      margin: 0 1rem;
      border: none;
      border-radius: 10px;
      background-color: $dark-teal;
      font-family: $body-font;
      font-size: 1.8rem;
      text-align: center;
      color: $white;

      &:hover {
        background-color: $light-teal;
      }
    }

    .products {
      grid-area: product;
      width: 100%;
      height: 74vh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      row-gap: 1rem;
      overflow: scroll;
    }
  }

}